html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { height: 100% }
ul {
  text-decoration: none;
}
nav {
  width: 100%;
  height: 50px;
  margin:0;
  z-index: 99;
  position: relative;
  background-color: #808080;
}

.navbar{
  height: 50px;
  padding: 0;
  margin: 0;
  position: absolute;
  border-right: #A8A8A8;
}

.navbar li {
  height: auto;
  width: 150px;
  float: left;
  text-align: center;
  list-style: none;
  font: normal bold 12px/1.2em Arial, Verdana, Helvetica;
  padding: 0;
  margin: 0;
  background-color:#808080;
}

.navbar a {
  padding: 18px 0;
  border-left: 1px solid #A8A8A8;
  border-right: 1px solid #989898;
  text-decoration: none;
  color:white;
  display:block;
}

.navbar li:hover, a:hover {background-color: #A8A8A8;}

.navbar li ul {
  display: none;
  height: auto;
  margin: 0;
  padding: 0;
  }

.navbar li:hover ul   {
  display: block;
  }

.navbar li ul li {background-color: #A8A8A8;}

.navbar li ul li a  {
    border-left: 1px solid #989898;
    border-right: 1px solid #989898;
    border-top: 1px solid #74a3b7;
    border-bottom: 1px solid #989898;
    }

.navbar li ul li a:hover  {background-color: #808080;}

.add_movies{
  visibility: hidden;
}
.dateRange{
  width:300px;
  float: right;
  padding:11px 30px;
  color:white;
}

