<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" media="screen"></style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTAT_GlI8mFh6UnBeEN4CRWqTTdAjfIsg&sensor=FALSE">
    </script>

  <!-- </head> -->
  <body>
    <nav><input type="submit" value="Add Locations" class="add_movies"/></nav>
    <%= yield %>
  </body>
    <!--  <script src="/js/jquery-1.11.1.min.js"></script>
    // <script src="/js/jquery.easing.min.js"></script>
    // <script src="/js/view.js"></script>
    // <script src="/js/model.js"></script> -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" ></script>
    <script src="/js/application.js"></script>

</html>